/* font-family: 'Lato', sans-serif;
font-family: 'Lexend Giga', sans-serif; */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
background-image: url('https://i.imgur.com/RkjY6Ip.jpg');
max-height: 500px;
background-position: 10% 40% ;

}


h1{
    font-family: 'Lexend Giga', sans-serif;
    color: white;
    font-size: 30px;
    margin: 0px 25px ;
    text-align: center;
    margin-bottom: 40px;
}
h3{
  font-family: 'Lato', sans-serif;
  color: white;
  margin-bottom: 15px; 
}

.logoDiv{
  margin: 50px 10px;
  text-align: center;


}
.logoDivSmall{
  width: 240px;
  margin-top: 45px;
  margin-bottom: 40px;
}

button{
  margin-bottom: 20px;
  width: 300px;
  height: 64px;
  align-items: center;
  background-color: #D1A85B;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #101010;
  cursor: pointer;
  display: inline-flex;
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  font-weight: bolder;
  justify-content: center;
  line-height: 20px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

button:hover,
button:focus { 
  background-color: #FFDA96
  ;
  color: #101010;
}

button:active {
  background: #FFDA96;
  color: #101010;
}

button:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

.buttonSignIn{
  background-color: #ac7f2c;
}

#homeButton{
  background-color: #7e5d1f;
}

i {
  padding: 10px;
}

.fa-google {
  font-size: 20px;
  background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}


.buttonGmail {
  margin-top: 15px;
  margin-bottom: 20px;
  width: 300px;
  height: 64px;
  align-items: center;
  background-color: transparent;
  border: 1px;
  border-style: solid;
  border-radius: 100px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: bolder;
  justify-content: center;
  line-height: 20px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}



input{
  width: 300px;
  height: 64px;
  border-radius: 9999em;
  background-color: white;
  font-weight: bold;
  padding: 10px 20px;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: #101010;
  margin-bottom: 20px;
  border-style: none;

}

#RegisterDiv,
#loginDiv,
.homeDiv{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: stretch;
}

#publishDiv {
  margin-right: 30px;
  margin-left: 30px;
}

#publishDiv h3 {
  margin-bottom: 10px;
}

.fa-circle-user {
  color:#CA8927;
  font-size: 50px;
  position: absolute;
}

.post {
  width: 80%;
  height: 300px;
  margin-left: 20%;
  border-radius: 30px;
  background-color: #454848;
  border:none;
  resize: none;
  font-family:'Lato', sans-serif;
  font-size: 20px;
  padding: 20px;
  color: #fff;
}

.post::placeholder
  {
  color: #fff;
  display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
  border:none;
  font-family:'Lato', sans-serif;
  padding: 20px;
  font-size: 20px;
  }

#publishDiv p {
  color: #7e5d1f;
  display: block;
  margin-left: 0px;
}

.buttonPublish {
  margin: 15px, 0px, 20px, 20px;
  margin-left: 20%;
  width: 80%;
  height: 64px;
  align-items: center;
  background-color: #D1A85B;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #101010;
  cursor: pointer;
  display: inline-flex;
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  font-weight: bolder;
  justify-content: center;
  line-height: 20px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}


button:hover,
button:focus { 
  background-color: #FFDA96
  ;
  color: #101010;
}

button:active {
  background: #FFDA96;
  color: #101010;
}

button:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

.iconAction {
  width: 50px;
  display: block;
  margin-left: auto;
  margin-top: 25px;
  margin-bottom: 40px;
}
